template#scorecardTemplate
  h2 Scorecard
  p
    b How did you do?
  div.app-score
    table(cellspacing=0 cellpadding=3 border=1)
      thead
        td.cucunano__cell Question
        td.cucunano__cell Your answer
        td.cucunano__cell Correct?
      tbody
