template#scorecardTemplate
  div.cards__item
    h2 Scorecard
    p
      b How did you do?
    div.app-score
      table
        thead
          td Question
          td Your answer
          td Correct?
        tbody
