body {
    font-family: 'Roboto', sans-serif;
    background: #f8f9fa;
}

.container {
    margin-top: 50px;
    background: white;
    border-radius: 10px;
    z-index: 10;
    position: relative;
    padding: 50px 16px;
}

p {
    font-size: 14px;
    color: #646464;
    margin-top: 1rem !important;
}

.header {
    margin: 0;
    position: relative;
}

.cards {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
}

.cards__item {
  /* There will be 4 cards per row */
  flex-basis: 25%;

  padding-left: 8px;
	padding-right: 8px;
  margin-left: 8px;
	margin-bottom: 8px;

	background-color:rgba(180, 180, 180, .3);
	border-radius:0.25rem;
	width:100%
}

.cucunano__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cucunano__input {
  width: 3em
}
